@import '~theme';
.visual-search-t {
	.main {
		.side-panels;

		position: absolute;

		.instruction {
			width: 96-2 * @panel-width;
			left: 2 + @panel-width;
			top: 0;
			text-align: center;
			margin-top: 1em;
			font-size: 2em;

			color: @primary;
		}

		.title {
			.header {
				font-size: 1.5rem;
				margin-bottom: 0.3rem;
			}

			.message {
				font-size: 1rem;
				filter: opacity(80%);
			}
		}

		.trial-count {
			font-size: 2.5rem;
			font-weight: bold;
			color: rgb(255, 110, 39);
			width: 100%;
			text-align: center;
		}

		.stimuli {
			position: absolute;

			//width: 96-2 * @panel-width;
			left: 2 + @panel-width;

			@stimuli_container_height: 36vw;
			height: @stimuli_container_height;
			width: 64vw;
			height: 36vw;
			top: 15%;


			z-index: 5;
			outline: none;
			cursor: crosshair;
			display: flex;
			flex-direction: column;

			.shelf {
				width: 100%;
				background-size: 100% 100%;
				background-repeat: repeat-x;
				background-position: center bottom;
				display: flex;
				align-items: baseline;
				justify-content: center;

				

				.product {
					background-repeat: no-repeat;
					background-position: center 10%;
					//height: 100%;
					background-size: auto 100%;
					margin-top: auto;
					margin-bottom: 0;
				}

				.highlight {
					filter: brightness(1.2);
				}

				.clicked {
					filter: brightness(1.2);
				}

				.correct {
					background-color: green;
				}
				.incorrect {
					background-color: red;
				}
			}
		}

		.click-overlay {
			.stimuli;

			z-index: 999;
		}
	}

	.introduction {
		.pause-screen;
	}
}
