@import '~theme';
.visual-search-t {
	.main {
		.side-panels;

		position: absolute;

		.instruction {
			width: 96-2 * @panel-width;
			left: 2 + @panel-width;
			top: 0;
			text-align: center;
			margin-top: 1em;
			font-size: 2em;

			color: @primary;
		}

		.stimuli {
			position: absolute;

			width: 96-2 * @panel-width;
			left: 2 + @panel-width;

			height: 70%;
			top: 15%;

			z-index: 5;
			outline: none;
			cursor: crosshair;

			.rack {
				flex: auto;
				height: auto;

				.rack_item {
					display: flex;
					flex: auto;
					flex-direction: row;
				}
			}
		}

		.click-overlay {
			.stimuli;

			z-index: 999;
		}
	}

	.introduction {
		.pause-screen;
	}
}
